@media (width <= 1200px) {
    .section {
        padding-inline: var(--space-3);
    }
}

@media (width <= 992px) {
    .section {
        padding-inline: var(--space-2);
    }
}

@media (width <= 768px) {
    .main {
        padding-top: var(--layout-main-padding-top-mobile);
    }

    .header {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .menu {
        flex-wrap: wrap;
        margin-left: 0;
    }
}
